--
-- PostgreSQL database dump
--

\restrict AcZDTqjPC1Unar1RSxum5mKQa5kN1UimpHaNQOb1O4PpXKR2JTa860Sc5U2zJqo

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: organisations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organisations (
    id uuid NOT NULL,
    name character varying NOT NULL,
    address character varying,
    employees_count integer
);


ALTER TABLE public.organisations OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    age integer NOT NULL,
    email character varying NOT NULL,
    password character varying NOT NULL,
    role character varying NOT NULL,
    department character varying,
    organisation_id uuid
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: organisations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organisations (id, name, address, employees_count) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, first_name, last_name, age, email, password, role, department, organisation_id) FROM stdin;
a682fefe-2880-485a-adcb-4da24b900884	monil	patel	25	monil@test.com	$2b$12$FATcEXBNRlEZtN8CkcpQJ.J8Ku8KsG36vK4vFn2EO4U715XcJWrZ2	Employee	\N	\N
ceebfda7-7c3f-4cc5-9e1e-5a0a5305288d	sahil	khare	23	sahil@test.com	$2b$12$u5AN5cRsb14E.aboguylW.5XnIPVuWcoG/xDWP5jR3WtEVZK9Eda.	Admin	\N	\N
047b33e5-7070-4618-8e71-ba5e3dd861b4	jayesh	garg	24	jayesh@test.com	$2b$12$dKorFCkqijCs8cCBC7dZAe/BCjWlkuBW0eYG5aW4opWasg33E8DTa	Employee	\N	\N
\.


--
-- Name: organisations organisations_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organisations
    ADD CONSTRAINT organisations_name_key UNIQUE (name);


--
-- Name: organisations organisations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organisations
    ADD CONSTRAINT organisations_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_organisation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_organisation_id_fkey FOREIGN KEY (organisation_id) REFERENCES public.organisations(id);


--
-- PostgreSQL database dump complete
--

\unrestrict AcZDTqjPC1Unar1RSxum5mKQa5kN1UimpHaNQOb1O4PpXKR2JTa860Sc5U2zJqo

